@page "/administration/account/create-user"
@using Application.DTO.Request
@rendermode InteractiveServer
@implements IDisposable

<PageTitle>Add User</PageTitle>
<div class="w-full flex flex-col items-center justify-start h-full min-h-screen bg-base-200">
    <AdminHomeHeader />
    <div class=" flex   w-full ">

        <div class="flex-grow">




            <div class="w-full flex flex-col items-start justify-center">


                <!-- Modal -->

                <div class="flex items-center justify-cente p-4">
                    <div class="">
                        <h2 class="font-bold text-lg mb-4 text-center">Add New User</h2>
                        <EditForm Model="@UserModel" OnSubmit="RegisterAsync" class="w-96">
                            <DataAnnotationsValidator />
                            <div class="form-control mb-4">
                                <label for="name" class="label">Full Name</label>
                                <InputText id="name" @bind-Value="UserModel.Name" class="input" />
                            </div>
                            <div class="form-control mb-4">
                                <label for="email" class="label">Email</label>
                                <InputText id="email" @bind-Value="UserModel.Email" class="input" />
                            </div>
                            <div class="form-control mb-4">
                                <label for="policy" class="label">Policy</label>
                                <InputSelect id="policy" @bind-Value="UserModel.Policy" class="select select-bordered">
                                    <option value="">Select Policy</option>
                                    @foreach (var policy in Policies)
                                    {
                                        <option value="@policy">@policy</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="form-control mb-4">
                                <label for="password" class="label">User Password</label>
                                <InputText id="password" @bind-Value="UserModel.Password"
                                    Type="@passwordState.PasswordType" class="input" />
                            </div>
                            <div class="form-control mb-4 relative">
                                <label for="confirmPassword" class="label">Confirm Password</label>
                                <InputText id="confirmPassword" @bind-Value="UserModel.ConfirmPassword"
                                    Type="@passwordState.PasswordType" class="input pr-10" />
                                <button type="button" @onclick="ChangePasswordType"
                                    class="absolute inset-y-0 right-2 top-10 text-sm text-blue-500 focus:outline-none">
                                    @passwordState.DisplayText
                                </button>
                            </div>
                            <div class="flex justify-end mt-4">

                                <button type="submit" class="btn btn-primary" disabled="@Loading">Create User</button>
                            </div>
                        </EditForm>
                    </div>
                </div>


                <div>
                    @if (Loading)
                    {
                        <GenericSpinnerButton ButtonClass="btn btn-success" Text="Creating..." />
                    }
                </div>


            </div>

        </div>
        <div>
            <Banner />
        </div>


    </div>
    <div class=" fixed bottom-0">
        <Footer />
    </div>

</div>


@code
{
    private Dictionary<string, string> BreadCrumbs = new Dictionary<string, string>
{
{ "Home", "/app/home" },

{ "Add New User", null! }
};
    [CascadingParameter] public Task<AuthenticationState>? UserAuthState { get; set; }
    private CreateUserRequestDTO UserModel { get; set; } = new();
    NetcodeHubToast? ToastComponent;
    private bool Loading = false;
    private bool isModalOpen = false;
    private void OpenModal()
    {
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }

    private List<string> Policies = new List<string>
{
new string(Policy.AdminPolicy),
new string(Policy.UserPolicy),
new string(Policy.ManagerPolicy)

};
    private HubConnection? hubConnection;
    private async Task RegisterAsync()
    {
        Loading = true;
        await Task.Delay(3000);
        var response = await accountService.CreateUserAsync(UserModel);
        await accountService.SaveActivityAsync(new ActivityTrackerRequestDTO()
            {
                UserId = (await UserAuthState!).User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value,
                Title = "Create New User method called",
                Description = response.Message,
                OperationState = response.Flag,
                Date = DateTime.UtcNow.Date

            });
        if (response.Flag)
        {
            @* await ToastComponent!.ShowSuccessToast("Info", response.Message); *@
            UserModel = new();
        }
        else
        {
            @* await ToastComponent!.ShowErrorToast("Alert", response.Message); *@
        }
        Loading = false;

    }
    protected async override Task OnInitializedAsync()
    {
        if (!customAuthorizationService.CustomClaimChecker((await UserAuthState!).User, DefaultClaims.ManageUser))
            Navigation.NavigateTo("/Account/Access-Denied");
        passwordState.Changed += StateHasChanged;
        homeGenericState.StateChanged += StateButtonClicked;

        hubConnection = netcodeHubConnectionService.GetHubConnection();
        hubConnection.On<string>("Notify", async (clientId) =>
        {
            await CallWhenNotified();
        });
        if (hubConnection is null) await hubConnection!.StartAsync();
    }

    async Task CallWhenNotified()
    {
        await InvokeAsync(async () =>
        {
            StateHasChanged();
            await adminState.GetActiveOrdersCount();
        });
    }
    void StateButtonClicked()
    {
        string adminOrderUrl = "app/administration/products/orders";
        if (homeGenericState.IsAdmin)
        {
            Navigation.NavigateTo($"{adminOrderUrl}/{homeGenericState.StateName}");
        }
    }
    void ChangePasswordType() => passwordState.ChangePasswordType();

    public void Dispose()
    {
        homeGenericState.StateChanged -= StateButtonClicked;
        passwordState.Changed -= StateHasChanged;
    }
}